<!DOCTYPE html>
<html>
    <head>
        <title>Tris</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h1>NetTris</h1>
        <canvas id="game-canvas" width="800" height="800"></canvas>
    </body>
</html>